*.Rproj.user
*.Rproj
*.Rhistory
*.RData
*.Ruserdata

#delete these three lines to enable sharing of the databases
interpolation_data_calcium_85768_shareable.csv
interpolation_data_ph_201237_shareable.csv
calcium_pH_metadata_shareable.xlsx

#local files to ignore; user can build these using included data and scripts
*.png

calcium-KR-97648-median_10km_ZN_masked.tif
calcium-KR-97648-median_10km_ZN_variance_masked.tif

ph-KR-208784-median_10km_ZN_masked.tif
ph-KR-208784-median_10km_ZN_variance_masked.tif

calcium-KR-97648-median-10km-ZN_latlong.tif
ph-KR-208784-median_10km_ZN_latlong.tif
.Rproj.user
