*.Rproj.user
*.Rproj
*.Rhistory
*.RData
*.Ruserdata

#local files to ignore; user can build these using included data and scripts
*.png
*.tif

calcium-KR-97648-median_10km_ZN_masked.tif
calcium-KR-97648-median_10km_ZN_variance_masked.tif

ph-KR-208784-median_10km_ZN_masked.tif
ph-KR-208784-median_10km_ZN_variance_masked.tif

calcium-KR-97648-median-10km-ZN_latlong.tif
ph-KR-208784-median_10km_ZN_latlong.tif
.Rproj.user
